
.headerLineFrame{
    display:flex; justify-content: center; align-items: center; 
    height: 200px; background-color: #D1DEEA;
}
.headerline{
    font-size: 30px; background-color: #D1DEEA;
    font-weight: bold;
}

/* menu*/
.desktop-menuFrame{
    display:flex; background-color: rgb(231, 231, 231); 
    height: 40px; align-items: center;
}
.desktop-logo{
    flex:none; width:150px; margin-left:20px;
}
.desktop-menu{
    flex:auto; display:flex; justify-content: flex-end;
}
.item{
    flex:none; width: 90px; text-align: center;
}
.mobile-menuFrame{
    justify-content: flex-end;
    
}
.mobileMenu{
    /*text-align: center;*/ 
    display: none;
}
.fixed {
    display:none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
}
.fixedFirstLine{
    display:flex; align-items: center;
}

.sectionTitle{
    font-size: 20px; font-weight: bold; text-align: center; 
    height: 30px; margin-top: 15px;
}

.list{
    display: flex;
    justify-content: center;
}
.product{
    flex:none;
    width:280px;margin:10px; height: 150px; padding-top: 10px;
    background-color: #8B9BAB;
    text-align: center; 
}
.callToActionFrame{
    display: flex;justify-content: center; 
    align-items: center;margin-top: 20px;
    height: 40px
}
.callToAction{
    text-align: center; width: 100px; background-color: #D1DEEA; padding: 10px;
}

@media(min-width : 1251px){
    .list{
        flex-wrap: wrap;
    }
    .product{
        width:550px;
    }
    .mobile-menuFrame{
        justify-content: flex-end;
        display:none   
    }
}
@media(max-width : 1250px){
    .list{
        flex-wrap: wrap;
    }
    .product{
        width:45%;
    }
    .mobile-menuFrame{
        justify-content: flex-end;
        display:none   
    }
}
@media(max-width : 800px){
    .headerline{
        font-size:20px;
    }
    .list{
        flex-wrap: wrap;
    }
    .product{
        width:45%;
    }
    .desktop-menu{
        text-align: center;
        display: none;
    }
    .mobile-menuFrame{
        flex:auto;
        display:flex;
        justify-content: flex-end;
    }
    .mobileMenu{
        display: block;
        width:90;
        margin-top: 5px;
        padding:5px;
        cursor: pointer;
    }
    /* position fixed */
    #fixed {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        background-color: white;
    }
    /* position fixed */
}

@media(max-width : 500px){
    .headerline{
        font-size:20px;
    }
    .list{
        flex-wrap: wrap;
    }
    .product{
        width:90%;
    }
    .desktop-menu{
        text-align: center;
        display: none;
    }
    .mobile-menuFrame{
        flex:auto;
        display:flex;
        justify-content: flex-end;
    }
    .mobileMenu{
        display: block;
        width:90;
        margin-top: 5px;
        padding:5px;
        cursor: pointer;
    }
    /* position fixed */
    #fixed {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        background-color: white;
    }
    /* position fixed */
}
